@import 'styles/estilo.css';

.apresentacao2{
    display: flex;
    margin-top: -10%;
    flex-wrap:nowrap;
    justify-content: space-around;
    margin-bottom: 10%;
    font-weight: 600;
    

}

.sobremim{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;   
    flex-direction: column;
    
}

.foto{
    background-color: #aaa;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-left:-40%;
  }
  
  .foto img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
.mensagem{
    margin-bottom: 2%;
}
.cursos{
    display:flex;
    justify-content: space-between;

}