 @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;600&display=swap');

:root{
    --cor-primaria: #0d546e;
    --cor-secundaria: hsl(180, 92%, 52%);
    --cor-terciaria: #ffffff;
    --cor-hover: #31304D;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url("/assets/9735805.jpg");
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box ;
    padding: auto;
}

.cabecalho{
       padding: 2% 0 0 15% ;     

}

.cabecalho_menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin-right: 10%;
       
      
}

.cabecalho_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}


.apresentacao{
    display: flex;
    width: 80%;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 1%;
    flex-direction: column; 
}

.destaque-titulo{
    color:var(--cor-terciaria);
}

.apresentacao__conteudo{
    display: flex;
    margin-top: 4%;
    margin-bottom: 10%;
    flex-wrap: nowrap; 
    justify-content: space-around;
         
}
.apresentacao__conteudo_texto{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: auto;
    margin-right: 10%;
    margin-left: -10%;
    
 
}

.apresentacao__conteudo_texto__titulo{
    font-size: 2.25rem;
    font-family: var(--cor-primaria);
   
}

.apresentacao__conteudo__texto_1{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-indent: 20px;
    font-weight: 600;
 
}

.apresentacao__conteudo__texto_2{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);    
    font-weight: 600;   
}

.apresentacao__botao{
    display: flex;
    justify-content:center;
    flex-direction:row;
    flex-wrap: nowrap; 
    gap: 32px;
    align-items:center;
    margin-right: 15%;
    margin-top: 3%;
    justify-content: space-around;
    
}

.apresentacao__botao__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;

}   

.apresentacao__botao__link{
    box-sizing: border-box ;
    font-family: var(--fonte-secundaria);
    gap:16px;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 600;
    width: 50%;
    text-align: center ;
    border-radius: 8px;
    padding: 13px 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom:20%;

}

.apresentacao__botao__link:hover{

    background-color: var(--cor-hover);
}

.rodape{
       color: var(--cor-primaria);
        background-color: var(--cor-terciaria);
        width: 100%;
        text-align: center;
        font-family: var(--fonte-secundaria);
        font-size: 1.25rem;
        font-weight: 600;
        position: sticky;
        bottom: 0;
       
               
}

@media(max-width:1200px){

body {
    background-size: cover; 
    padding: 0; 
}

.cabecalho {
    padding: 10% 0; 
    
}

.rodape
{
    text-align: center;
            
}

.apresentacao {
   

    margin-left: 40%;
    margin-right: 40%;
}

.apresentacao {
    width: 100%;
    margin-left: auto; 
    align-items: center;
    margin-right: auto;
    justify-content: space-around;
}

.apresentacao2 {
    width: 100%; 
    margin-left: 10%; 
    align-items: center;
    margin-right: auto;
    justify-content: space-around;
    flex-direction:column-reverse;

}

.apresentacao__conteudo {
    display: flex;
    justify-content:center;
    flex-direction:column-reverse;
    flex-wrap: nowrap; 
    gap: 32px;
    align-items:center;
    margin-left: 20%;
    margin-top: 3%;
    justify-content: space-around;
    gap: 20px;  
    
}

.apresentacao__conteudo_texto {
    display: flex;
    justify-content:center;
    flex-direction:column;
    flex-wrap: nowrap; 
    gap: 32px;
    align-items:center;
    margin-right: 15%;
    margin-top: 3%;
    justify-content: space-around;
}

.apresentacao__conteudo__texto_1,
.apresentacao__conteudo__texto_2 {
    margin-left: 0; 
}

.apresentacao__botao {
    flex-direction: column; 
    margin-right: auto;
    margin-left: auto; 
    
}

.apresentacao__botao__link {
    width: 100%; 
    margin: 0; 
}

.apresentacao__conteudo {
    display: flex;
    justify-content:center;
    flex-direction:column-reverse;
    flex-wrap: nowrap; 
    gap: 32px;
    align-items:center;
    margin-left: 20%;
    margin-top: 3%;
    justify-content: space-around;
    gap: 20px;  
    
}

.apresentacao__conteudo_texto {
    display: flex;
    justify-content:center;
    flex-direction:column;
    flex-wrap: nowrap; 
    gap: 32px;
    align-items:center;
    margin-right: 15%;
    margin-top: 3%;
    justify-content: space-around;
}

.apresentacao__conteudo__texto_1,
.apresentacao__conteudo__texto_2 {
    margin-left: 0; 
}

.apresentacao__botao {
    flex-direction: column; 
    margin-right: auto;
    margin-left: auto; 
    margin-bottom: 10%;
    
}

.apresentacao__botao__link {
    width: 100%; 
    margin: 0; 
}
.cabecalho_menu{
   gap:10%;       
      
}
}

